<head>
    <script src="/js/facebook.js"></script>
</head>

<div class="main-scroll account-container">
    <div class="btn-person header-profile">
        <p class="header-font">
            {{name}}
        </p>
    </div>
    <div class="account-photo">
        <img src={{imageURL}}>
    </div>
    <p class="account-description">{{description}}</p>
    <div class="account-block">
        <div class="account-block-text">
            Mentorship Status:
        </div>
        {{#if mentorToggle}}
        <div class="mentorship-status-available">
            AVAILABLE
        </div>
        {{else}}
        <div class="mentorship-status-unavailable">
            UNAVAILABLE
        </div>
        {{/if}}
    </div>
    
    <div class='account-block'>
        <div class="account-block-text">
            Workout Category:
        </div>
        <div class="account-block-workout">
            {{workout}}
        </div>
    </div>

    {{#if isFriend}}
    <div class="account-block">
        <div class="account-block-text">
            Contact Info:
        </div>
        <div class="account-block-contact">
            <a href="sms:{{contact}}">{{contact}}</a>
        </div>
    </div>
    {{/if}}
    <br>
    {{#if isFriend}}
    <div class="add-friend-btn" onclick="window.location.href='/removefriend'">
        REMOVE FRIEND
    </div>
    {{else}}
    <div class="add-friend-btn" id="submitBtn" onclick="window.location.href='/addfriend'">
        ADD FRIEND
    </div>
    {{/if}}
    
</div>