<div id="mentorsort">
    {{#each users}}
        {{#if mentorToggle}}
        <div class="btn-person btn-person-click" onclick="window.location.href='/{{userName}}'">
            <div class="account-photo-small">
                <img src={{imageURL}}>
            </div>
            <a href='#' class="btn-person-font">{{name}}</a>
            <svg id="i-chevron-right" class="icon-forward" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M12 30 L24 16 12 2" />
            </svg>
        </div> 
        <div class="divider"></div>
        {{/if}} 
    {{/each}}
</div>
<div id="buddysort">
    {{#each users}}
    {{#if isFriend}}
    {{else}}
    <div class="btn-person btn-person-click" onclick="window.location.href='/{{userName}}'">
        <div class="account-photo-small">
            <img src={{imageURL}}>
        </div>
        <a href='#' class="btn-person-font">{{name}}</a>
        <svg id="i-chevron-right" class="icon-forward" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M12 30 L24 16 12 2" />
        </svg>
    </div>
    <div class="divider"></div>
    {{/if}}
    {{/each}}
</div>